.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis circle {
    fill: none;
    stroke: rgba(132, 132, 132, 0.4);
    /*stroke-dasharray: 4,4;*/
}

.axis :last-of-type circle {
    stroke: #333;
    /*stroke-dasharray: none;*/
}

.line {
    fill: rgba(255, 0, 0, 0.5);
    stroke: rgba(255, 0, 0, 0.8);
    stroke-width: 2px;
}

.location_circle {
    fill: rgb(218, 206, 41)
}

.central_circle {
    fill: rgb(31, 27, 27)
}